body{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
}
.btn{
    font-size: 25px;
}
#menu{
    top: 20px;
    left: 20px;
}
#diVeditor{
    width:50%;
    height: 60%;
    position: absolute;
    top:  100px;
    left: 40px;

}
#consol{
    position: absolute;
    top:  420px;
    left: 40px;
    color: lime;
    background: black;
    width: 90%;
    font-family: monospace;
}
#traduccion{
    position: absolute;
    top:  750px;
    left: 50%;
    color:white;
    background: rgba(153, 205, 50, 0);
    font-family: sans-serif;
    width: 40%;
    border:  none;
   
}
#container {
    max-width: 400px;
    height: 400px;
    margin: auto;
  }
#graph{
    position: absolute;
    left: 50%;
    top: 650px;
    width: 43%;
    height: 100px;
}
#tabla-ambito{
    width:40%;
    height: 300px;
    position: absolute;
    top:  100px;
    left: 55%;

}
#JSONviwer{
    color: chartreuse;
    background: black;
}